<div class="slideshow-container">

<div class="mySlides fade">
    <%= image_tag "cat-slideshow-1.jpg", style: "width:100%" %>
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
    <%= image_tag "cat-slideshow-2.jpg", style: "width:100%" %>
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
    <%= image_tag "cat-slideshow-2.jpg", style: "width:100%" %>
  <div class="text">Caption Three</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
