<h1>Items in your cart</h1>

<% @line_items.each do |line_item| %>

<%= line_item.product.breed %>
<%= line_item.quantity %>
<%= link_to 'Delete item from cart', meow_line_item_path(line_item_id: line_item), method: :delete %>
<br>

<% end %>
