<h1><%= 'Order Status for Item #{}' %></h1>

<p>Dear Beloved Cat Lover,</p>
<br>
<p><%= 'We would like to inform you that your order is now #{}'%></p>

<p>
  To view your order, please visit the order page at:
</p>
<br>

<p>Regards,</p>
<p>Chairman Meow</p>
