<h1>Update Product</h1>

<%= simple_form_for @product_form, url: admin_product_path, method: :put do |f| %>

  <%= render partial: 'partials/productform', locals: {f: f} %>

  <br>
  <%= f.submit 'Update Breed', class: 'btn btn-primary' %>
<% end %>

<%= button_to "Cancel", admin_products_path, method: :get, class: 'btn' %>
