<h1>New Product</h1>

<%= simple_form_for @product_form, html: { multipart: true }, url: admin_products_path do |f| %>

  <%= render partial: 'partials/productform', locals: {f: f} %>

  <br>
  <%= f.submit 'Create New Breed', class: 'btn btn-primary' %>
<% end %>

<%= button_to "Cancel", admin_products_path, method: :get, class: 'btn' %>
