body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.navbar-default li.dropdown li:hover .sub-menu {
  visibility: visible;
}


table {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.thumbnail p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
  max-height: 500px;
}

.img-responsive {
  height: 100px;
  margin: 20px;
}

small {
  word-wrap: break-word;
  padding: 5px;
}

.textbox {
  word-wrap: break-word;
  padding: 10px;
}
